<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'sport_equipment:main' %}">Equipments</a></li>
    <li class="list-group-item"><a href="{% url 'sport_equipment:about' %}">About</a></li>
    <li class="list-group-item"><a href="{% url 'sport_equipment:category-list' %}">Category list</a></li>
    <li class="list-group-item"><a href="{% url 'sport_equipment:contacts' %}">Контакты</a></li>
    <li class="list-group-item"><a href="{% url 'sport_equipment:contact_form' %}">Форма отправки контактов</a></li>
</ul>